@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{    
   
    min-height: 100vh;    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
       
}
a:link{
  text-decoration: none;

}
.navbar{
    background-color: rgb(0, 0, 0);
   
}
.navbar h1{
   background-color: #fff;
   color: #fffafa;
   font-size: 30px;
}
.navbar a:link {
    color: rgb(252, 252, 252);
    font-size: 30px;
}
.navbar a:visited {
    color: rgb(255, 255, 255);
}
.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
     
} 


.featureproject {
  background: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

.projectimage{
  
  padding:25px;
  

}
.projectimage img{
  
  border:solid .10em rgb(0, 0, 0);
  

}

.auto-text{
    margin: 10px;
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    background-color: rgb(3, 1, 0);
    font-family: "Permanent Marker", cursive; 
}
.auto-text h1{
    color: #dbfd03;
}
.faculty-image {
    
    max-width: 100%;
    height: auto;
}

* {box-sizing:border-box}

.blog{
  background-color: #fcfcfc;
  padding: 20px;

}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.wrapper {   /* (.wrapper) to add gap between all the element inside the wrapper class */
  display: grid;
  grid-gap: 0px;
 
}

.top {
  
  display: grid;
  grid-gap: 0px;  
  grid-template-areas:
    "hero cta1"
    
}

.hero {
  grid-area: hero;
  min-height: 500px;
  
  background: rgb(0, 0, 0) ;
  background-size: cover;
  background-position: bottom right;
  padding:0px;
  display: flex; /* flex box work much better here */
  flex-direction: column;
  align-items: start;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.hero > * {
  background: rgb(0, 0, 0);
  color: #fffcfc;
  padding: 0px;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.cta {
  background: rgb(0, 0, 0); 
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.cta p {margin: 0; color: #f2f2f2;}

.cta1 {grid-area: cta1;}



.name {
  font-size: 57px;
  font-weight: 300;
}


.lhe h2 {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.lhe h2::before,
.lhe h2::after {
  display: block;
  content: "";
  height: 15px;
  background: linear-gradient(to var(--direction, left), rgb(255, 255, 255), transparent);
}

.lhe h2:after {--direction: right;}

.experience{
  margin: 0;
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: cursive;
}
.stats-container {
  margin: 40px;
  border: dotted rgb(0, 0, 0);
  min-width: 200px;
  height: 120px;
  position: relative;
  padding: 20px;
}

.stats-container h4 {
  position: absolute;
  color: #000000;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.counter {
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  color: rgb(0, 0, 0);
}

@media (max-width: 800px) {
  .experience {
    flex-direction: column;
  }
}

#cv {
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  border-radius: 100px;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
  
 
  position: relative;
  overflow: hidden;
}
#cv:hover {
  background-color: rgb(17, 13, 13);
  
}
#cv h3 {
  color: black;
}
#cv:hover  h3{
  color: rgb(255, 252, 252);
  
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 35px; /* Place the button 30px from the right */
 
  z-index: 99; /* Make sure it does not overlap */
  width:2.1em;
	height:2.1em;
  line-height:1.5em;
  
  outline: none; /* Remove outline */
  border:solid .10em rgb(255, 255, 255);
	border-radius:10em;
  
  background: linear-gradient(0deg, rgb(0, 0, 0) 1.0%, rgb(0, 0, 0) 99.0%);
  color: rgb(255, 255, 255); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0px; /* Some padding */
 
  font-size: 35px; /* Increase font size */
  transition:transform .3s ease-in;
}

#myBtn:hover {
  
  transform: rotate(360deg);
}


.container {
    max-width: 1200px;
    min-width: none;
    margin: 0 auto;
    padding: 10px;
    
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.3);
} 
.container h2{
    color: #fff;

}
.container h3{
    color: #fffafa;

}
.container ol{
    color: #fffafa;
    padding: 20px;

}
.container ul{
    color: #fffafa;
    padding: 20px;

}
.container a:link {
    color: rgb(252, 252, 252);
    background-color: black;
 }
.container a:visited {
    color: rgb(255, 255, 255);
}
.container a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
} 


.image {
  margin-bottom: 2rem;
}
.image img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 100%;
}

.section-center {
  height: auto;
  width: 75vw;
  margin: 0 auto;
  max-width: 1150px;
  min-width: 300px;
  padding: 5rem 0;
}

.tabs {
  background: #fcfcfc;
  border-radius: 0.6rem;
  grid-template-rows: auto 1fr;
  height: auto;
}
.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.button:nth-child(1) {
  border-top-left-radius: 0.5rem;
}
.button:nth-child(3) {
  border-top-right-radius: 0.5rem;
}
.button {
  padding: 1rem 0;
  border: none;
  font-size: 1rem;
  background: #494848;
  color: white;
  cursor: pointer;  
  transition: all 0.3s linear;
  letter-spacing: 0.10rem;
}
.button:hover:not(.live) {
  background: #000000;
  color: white;
}
.tabs-content {
  padding: 2rem 1.5rem;
}
/* hide content */
.content {
  display: none;
}
.button.live {
  background: #ffffff;
  color: rgb(0, 0, 0);
}
.content.live {
  display: block;
}

.year {
    font-size: 5em;
    color: white;
    font-weight: bold;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  
  .countdown {
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown div {
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
  }
  
  .countdown div::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 0.35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    height: 35px;
  }
  
  .countdown #day::before {
    content: "Days";
  }
  .countdown #hour::before {
    content: "Hours";
  }
  .countdown #minute::before {
    content: "Minutes";
  }
  .countdown #second::before {
    content: "Seconds";
  }
footer {
    background-color: #5a5757;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px 0;
}   
.socialmenu{
  background-color: #5a5757;
}
.socialmenu ul{
  list-style: none;
}
.socialmenu ul li{
  display: inline;
  padding: 10px;
}
.socialmenu ul li a{
  background-color: #5a5757;
}
.socialmenu ul li a:hover{
  background-color: #5a5757;
}

    
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.1s linear;
} 

@media (min-width: 992px) {
  .image {
    margin-bottom: 0;
  }

  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media (max-width: 900px) {
  
  /* About */
  .featureproject {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 900px) {
  .top {
    grid-template-columns: auto;
    grid-template-areas:
      "hero"
      "cta1"
      
      
  }
}
@media screen and (max-width: 576px) {
  .navbar h1 {
    font-size: 20px;
  }
  .navbar a:link {
    font-size: 16px;
  }
  
  .container {
    padding: 0px;
  }
  h2{
    font-size: 13px;
  }
  h3{
    font-size: 10px;
  }
  p{
    font-size: 10px;
  }
  li{
    font-size: 10px;
  }
  .hero {
    
    min-height: 300px;
  }  
  .name {
    font-size: 30px;
    font-weight: 300;
  }
  .auto-text h1{
    font-size: 20px;
  }
  .featureproject img
  {
    width:100%;
    height:100%;
  }
  .btn-container button
  {
    font-size: 10px;
  }
  #myBtn {
    bottom: 40px; 
    right: 20px;
    font-size: 20px;
  }
  .featureproject {
    
    padding: 7px;    
    grid-template-columns: 1fr;
    
  }
  .countdown {
    margin: 8px;
    
  }
  .projectimage img {
    width:100%;
    height:100%;
  }
  
  .countdown div {
    margin: 0 0px;
    font-size: 1.5em;
   
  }
}
